* {
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Open Sans';
    background-color: #E8E8E8;
}

/**
 * Helper classes
 */
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right
}
.clearfix {
  overflow: hidden;
}
.text-uppercase {
    text-transform: uppercase;
}

/**
 * Header
 */
header {
    padding: 30px 0;
    width: 100%;
    z-index: 1;
    background-color: #E8E8E8;
}

/**
 * Nav
 */
nav {
    font-family: 'Roboto Slab';
    font-weight: bold;
    list-style: none;
    text-align: left;
    max-width: 650px;
}
nav ul li {
    vertical-align: top;
    display: inline-block;
}
nav ul li a {
    color: #4A4A4A;
    text-decoration: none;
}
nav ul li .nav-name {
    text-transform: uppercase;
    font-size: 10pt;
}
nav ul li a span {
    font-size: 7pt;
    word-wrap: break-word;
    width: 150px;
    display: inline-block;
    text-align: left;
}
.main-nav {
    font-size: 10pt;
    padding: 10px 0 10px 0;
    background-color: #096D25;
}
.main-nav ul li {
    display: inline-block;
    margin: 0 7px 0 0;
    list-style: none;
}
.main-nav ul li input.input-group{
    margin-left: 40px;
    width: 110px;
    padding: 10px;
}
.main-nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

/**** SLIDER ****/
.slider .wrapper img {
    width: 960px;
    height: auto;
}

/**** MAIN CONTENT ****/
.main-content {
    width: 100%;
}
.content {
    width: 32%;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 1.1%;
    margin-top: 20px;
    border-top: 4px solid #096D25;
    height: 520px;
    color: #9D8F7F;
}
.content h3,h5,h6{
    padding: 30px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}
.content h3 {
    padding-top: 20px;
    color: #096D25;
}
.content h6 {
    border-top: none;
}
.content .featured h3 {
    padding-bottom: 30px;
}
.content .news h5 {
    padding-bottom: 0;
    padding-top: 5px;
}
.content h6 {
    padding-top: 5px;
}
.content .news {
}
.content .featured img {
    width: 100%;
    height: 100%;
    border: none;
    margin-right: 0;
    position: relative;
}
.btn {
    padding: 20px;
    background-color: #096D25;
    bottom: 0;
    width: 100%;
    border: 1px solid #096D25;
    color: #fff;
}
.announce {
    margin-top: 99px;
}
.feat {
    right: 0;
    position: absolute;
}
.newsbtn {
    margin-top: 25px;
}
.sub-content {
    width: 48%;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 1.6%;
    margin-top: 20px;
    border-top: 4px solid #096D25;
    height: 235px;
    color: #9D8F7F;
}
.sub-content h3,h5,h6{
    padding: 30px;
    padding-top: 10px;
}
.sub-content h3 {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    color: #096D25;
}
.subscribe .content-input {
    padding: 15px;
    width: 60%;
    margin-left: 30px;
}
.content-btn {
    padding: 16px;
    border: 1px solid #096D25;
    width: 20%;
    color: #fff;
    background-color: #096D25;
}



.last-content {
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 1.1%;
    margin-top: 20px;
    border-top: 4px solid #096D25;
    height: 520px;
    color: #9D8F7F;
}
.last-content h3,h5,h6{
    padding: 30px;
    padding-top: 10px;
}
.last-content h3 {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    color: #096D25;
}
